.container {
  position: relative;
  display: inline;
  cursor: pointer;

  .tooltip {
    position: absolute;
    top: -0.2rem;
    right: -2rem;
    transform: translateX(100%);
    padding: 2rem;
    border: 1px solid #333;
    border-radius: 1rem;
    background-color: #fff;
    text-align: center;
    -webkit-box-shadow: 4px 4px 13px 0px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 4px 4px 13px 0px rgba(34, 60, 80, 0.3);
    box-shadow: 4px 4px 13px 0px rgba(34, 60, 80, 0.3);
  }
}
